.main-content {
  margin: 7rem 2.5rem;
}

.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-actions button,
.btn {
  background-color: rgb(131, 130, 130);
  border: 1px solid rgb(83, 83, 83);
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgb(73, 73, 73);
  color: white;
  cursor: pointer;
}

.form-actions a {
  background-color: rgb(131, 130, 130);
  border: 1px solid rgb(83, 83, 83);
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background-color: rgb(155, 155, 155);
  border-color: rgb(155, 155, 155);
}

.form-actions a:hover,
.form-actions a:active {
  background-color: rgb(155, 155, 155);
  border-color: rgb(155, 155, 155);
}

/* Navbar */
.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: rgb(83, 83, 83);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.main-navigation__log h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main-navigation__items {
  margin-left: 1.5rem;
}

.main-navigation__items ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__items li {
  margin: 0 1rem;
}

.main-navigation__items a {
  text-decoration: none;
  color: white;
}

.main-navigation__items a:hover,
.main-navigation__items a:active {
  color: black;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: rgb(83, 83, 83);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.main-nav__log h1 {
  margin: 0;
  font-size: 1.5rem;
}
